.blog-masthead{
	background-color: black;
	box-shadow: inset 0 -2px 5px white;
}

.container{
	width: 900px;
}

.nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 300;
	color: white;
	text-decoration: none;
}

a.nav-item:hover{
	text-decoration: none;
	font-weight: bold;
	color: white;
}
body { 
	padding-top: 70px; 
}