hr, p, a, h1, h2, h3, h4, h5, h6, body   {margin: 0px;}


#admin{
	border: solid black 0px;
	text-align: center;
	padding: 5px;
	width:  600px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

#menue ul{
	padding: 0;
}

#menue ul li{
	border: solid black 0px;
	float: left;
	list-style: none;
	display: inline;
	width: 150px;
	padding: 2px;
	margin-right: 1px;
}

#menue a{
	border: solid black 0px;
	display: block;
	text-decoration: none;
	width: 100%;
	color: black;
}

.tbl{
	width: 300px;
	margin-left: 100px;
}

.headline{
	text-decoration: underline;
	text-align:left;
}

.user_function{
	border: solid green 0px;
	position: absolute;
	width: 550px;
	height: 160px;
	margin-top: 23px;
	padding: 5px;
	float: left;
}