#AuthUserFile C:\xampp\htdocs\infosaeule\passwd/.htpasswd
#AuthUserFile D:\xampp\htdocs\passwd/.htpasswd
AuthUserFile D:\XAMPP\htdocs\github\swe\infosseule\passwd/.htpasswd
#AuthGroupFile D:\xampp\htdocs\passwd/.htgroups
AuthGroupFile D:\XAMPP\htdocs\github\swe\infosseule\passwd/.htgroups
AuthType Basic
AuthName "Nutzer: root, Passwort: root, user:user, cm:cm"
require valid-user
#admin-zugriff
<files "form.php">
AuthName "Administrator script (root:root)"
require group administratoren
</files>
#content manager zugriff
# oeffentlicher zugriff
ErrorDocument 500 /errorpages/500.html
ErrorDocument 401 /errorpages/401.html